
#formHolder{ margin: 10px 0px; }

.form_row_object{ width: 800px; margin: 10px auto; }

.row{ margin: 5px 0px; width: 100%; padding: 5px 0px;}
.row label{ width: 350px; display: inline-block; } 

ul#sortable li:nth-child(odd) {
	background-color: rgba( 180,180,1800,.3);
}
ul#sortable li:nth-child(even) {
	background-color: rgba(70,70, 70,.3);
}

ul#sortable{ padding: 0px; margin: 0px; list-style: none; }

ul#sortable li:first-child .tools .butUp{ display: none; } 
ul#sortable li:last-child .tools .butDown{ display: none; } 

.tools{ clear: both; padding: 10px 0px; width: 800px; margin: 0 auto; }
.tools .but{  display: inline-block; margin: 0px 10px; cursor: pointer; }

.advancedSettings{
	width: 100%;
	overflow-y: hidden;
	height: 40px;
}

.advancedSettings .btn{ width: auto; display: inline-block; clear:both; cursor:pointer; }

.advancedSettings.show{ height: auto; }


li.deleted .tools,
li.deleted .form_row_object .row{
	display: none;
}

li.deleted .form_row_object .row.undo,
li.deleted .form_row_object .row.hidden{ display: block; }

.CodeMirror{
	border: 1px solid #000;
}

.formOptions{ padding: 10px 0px; clear: both; width: 100%; text-align:center; }
.formOptions .btn{ margin: 0px 10px; }

textarea.embedCode{
	width: 100%;
}

/*************************************************************/

li.no-type-select.deleted .form_row_object .row.type,
li.no-type-select .form_row_object .row{ display: none; }
li.no-type-select .form_row_object .row.type{ display: block; }

li .form_row_object .genericUseID,
li .form_row_object .genericUseTEXT,
li .form_row_object .reUseableItem{
	display:  none;
}

/*input*/
li.input .form_row_object .row.minVal,
li.input .form_row_object .row.maxVal,
li.input .form_row_object .row.listType,
li.input .form_row_object .row.listID,
li.input .form_row_object .row.csList{ display: none; }

/*textarea*/
li.textarea .form_row_object .row.minVal,
li.textarea .form_row_object .row.maxVal,
li.textarea .form_row_object .row.listType,
li.textarea .form_row_object .row.listID,
li.textarea .form_row_object .row.csList{ display: none; }

/*checkboxsingle*/
li.checkboxsingle .form_row_object .row.regex,
li.checkboxsingle .form_row_object .row.placeholder,
li.checkboxsingle .form_row_object .row.minVal,
li.checkboxsingle .form_row_object .row.maxVal,
li.checkboxsingle .form_row_object .row.minLength,
li.checkboxsingle .form_row_object .row.maxLength,
li.checkboxsingle .form_row_object .row.listType,
li.checkboxsingle .form_row_object .row.listID,
li.checkboxsingle .form_row_object .row.csList,
li.checkboxsingle .form_row_object .row.encrypted{ display: none; }

/*checkboxmutiple*/
li.checkboxmutiple .form_row_object .row.regex,
li.checkboxmutiple .form_row_object .row.placeholder,
li.checkboxmutiple .form_row_object .row.minLength,
li.checkboxmutiple .form_row_object .row.maxLength,
li.checkboxmutiple .form_row_object .row.minVal,
li.checkboxmutiple .form_row_object .row.maxVal,
li.checkboxmutiple .form_row_object .row.required,
li.checkboxmutiple .form_row_object .row.encrypted,
li.checkboxmutiple .form_row_object .advancedSettings .showSettings.btn{ display: none; }

li.checkboxmutiple .form_row_object .advancedSettings{
	display: block;
	height: auto;
}


/*look at different list type selection*/

li .row.csList,
li .row.listID{ display: none; }

li.list-type-2 .form_row_object .row.defaultVal{ display: none; }

li.list-type-2 .form_row_object .row.listID{ display: block; }

li.list-type-1 .form_row_object .row.csList{ display: block; }

/*selectbox*/
li.selectbox  .form_row_object .row.regex,
li.selectbox  .form_row_object .row.placeholder,
li.selectbox  .form_row_object .row.minLength,
li.selectbox  .form_row_object .row.maxLength,
li.selectbox  .form_row_object .row.minVal,
li.selectbox  .form_row_object .row.maxVal,
li.selectbox  .form_row_object .row.encrypted{ display: none; }


/*selectbox*/
li.selectboxJQ  .form_row_object .row.regex,
li.selectboxJQ  .form_row_object .row.placeholder,
li.selectboxJQ  .form_row_object .row.minLength,
li.selectboxJQ  .form_row_object .row.maxLength,
li.selectboxJQ  .form_row_object .row.minVal,
li.selectboxJQ  .form_row_object .row.maxVal,
li.selectboxJQ  .form_row_object .row.encrypted{ display: none; }

/*radiobutton*/
li.radiobutton  .form_row_object .row.regex,
li.radiobutton  .form_row_object .row.placeholder,
li.radiobutton  .form_row_object .row.minLength,
li.radiobutton  .form_row_object .row.maxLength,
li.radiobutton  .form_row_object .row.minVal,
li.radiobutton  .form_row_object .row.maxVal,
li.radiobutton  .form_row_object .row.encrypted{ display: none; }

/*date*/
li.datepicker .form_row_object .row.regex,
li.datepicker  .form_row_object .row.placeholder,
li.datepicker  .form_row_object .row.listType,
li.datepicker  .form_row_object .row.csList,
li.datepicker  .form_row_object .row.listID,
li.datepicker  .form_row_object .row.minLength,
li.datepicker  .form_row_object .row.maxLength,
li.datepicker  .form_row_object .row.minVal,
li.datepicker  .form_row_object .row.maxVal,
li.datepicker  .form_row_object .row.encrypted{ display: none; }

/*time*/
li.timepicker .form_row_object .row.regex,
li.timepicker .form_row_object .row.placeholder,
li.timepicker .form_row_object .row.listType,
li.timepicker .form_row_object .row.csList,
li.timepicker .form_row_object .row.listID,
li.timepicker .form_row_object .row.minLength,
li.timepicker .form_row_object .row.maxLength,
li.timepicker .form_row_object .row.minVal,
li.timepicker .form_row_object .row.maxVal,
li.timepicker .form_row_object .row.encrypted{ display: none; }

/*datetime*/
li.datetimepicker .form_row_object .row.regex,
li.datetimepicker .form_row_object .row.placeholder,
li.datetimepicker .form_row_object .row.listType,
li.datetimepicker .form_row_object .row.csList,
li.datetimepicker .form_row_object .row.listID,
li.datetimepicker .form_row_object .row.minLength,
li.datetimepicker .form_row_object .row.maxLength,
li.datetimepicker .form_row_object .row.minVal,
li.datetimepicker .form_row_object .row.maxVal,
li.datetimepicker .form_row_object .row.encrypted{ display: none; }



#availableLists{ overflow-y: auto; overflow-x: hidden; max-height: 500px; }
.clearPick{ cursor: pointer; }
#availableLists.loading{
	background-image: url('/css/images/ajax-loader.gif');
	background-position: center center;	
	background-repeat: no-repeat;
}

/*Range Slider*/
li.rangeslider .form_row_object .row.regex,
li.rangeslider .form_row_object .row.listType,
li.rangeslider .form_row_object .row.listID,
li.rangeslider .form_row_object .row.csList,
li.rangeslider .form_row_object .row.minLength,
li.rangeslider .form_row_object .row.maxLength,
li.rangeslider .form_row_object .row.encrypted,
li.rangeslider .form_row_object .row.placeholder,
li.rangeslider .form_row_object .row.required,
li.rangeslider .form_row_object .advancedSettings .showSettings.btn{
	display: none;	
}

li.rangeslider .form_row_object .advancedSettings{
	display: block;
	height: auto;
}

/*Hidden*/
li.hidden .form_row_object .advancedSettings .showSettings.btn,
li.hidden .form_row_object .advancedSettings,
li.hidden .form_row_object .row.rowLabel,
li.hidden .form_row_object .errorText,
li.hidden .form_row_object .row.placeholder,
li.hidden .form_row_object .row.regex,
li.hidden .form_row_object .row.listType,
li.hidden .form_row_object .row.listID,
li.hidden .form_row_object .row.csList{
	display: none;
}

/*Email*/

li.email .form_row_object .advancedSettings .showSettings.btn,
li.email .form_row_object .row.regex,
li.email .form_row_object .row.listType,
li.email .form_row_object .row.listID,
li.email .form_row_object .row.csList,
li.email .form_row_object .row.minVal,
li.email .form_row_object .row.maxVal,
li.email .form_row_object .row.minLength,
li.email .form_row_object .row.maxLength{
	display: none;
}

li.email .form_row_object .advancedSettings{
	display: block;
	height: auto;
}

/*Phone Number*/
li.phone .form_row_object .row.listType,
li.phone .form_row_object .advancedSettings .showSettings.btn,
li.phone .form_row_object .row.listID,
li.phone .form_row_object .row.csList,
li.phone .form_row_object .row.minVal,
li.phone .form_row_object .row.maxVal,
li.phone .form_row_object .row.minLength,
li.phone .form_row_object .row.maxLength,
li.phone .form_row_object .row.regex{
	display: none;
}

li.phone .form_row_object .advancedSettings{
	display: block;
	height: auto;
}



#formHolder.encrypt-mode-2 li .form_row_object .row.encrypted{
	display: none!important;
}


li.group .form_row_object .row.listType,
li.group .form_row_object .advancedSettings .showSettings.btn,
li.group .form_row_object .row.rowLabel,
li.group .form_row_object .row.rowName,
li.group .form_row_object .row.defaultVal,
li.group .form_row_object .row.errorText,
li.group .form_row_object .row.placeholder,
li.group .form_row_object .row.classes,
li.group .form_row_object .row.required,
li.group .form_row_object .row.listID,
li.group .form_row_object .row.csList,
li.group .form_row_object .row.minVal,
li.group .form_row_object .row.maxVal,
li.group .form_row_object .row.minLength,
li.group .form_row_object .row.maxLength,
li.group .form_row_object .row.regex,
li.group .form_row_object .row .reUseableFormItem{
	display: none;
}

li.formItem .form_row_object .row.reUseableItem,
li.group .form_row_object .row.reUseableItem{
	display: block;
}

li.formItem .form_row_object .row.listType,
li.formItem .form_row_object .advancedSettings .showSettings.btn,
li.formItem .form_row_object .row.rowLabel,
li.formItem .form_row_object .row.rowName,
li.formItem .form_row_object .row.defaultVal,
li.formItem .form_row_object .row.errorText,
li.formItem .form_row_object .row.placeholder,
li.formItem .form_row_object .row.classes,
li.formItem .form_row_object .row.required,
li.formItem .form_row_object .row.listID,
li.formItem .form_row_object .row.csList,
li.formItem .form_row_object .row.minVal,
li.formItem .form_row_object .row.maxVal,
li.formItem .form_row_object .row.minLength,
li.formItem .form_row_object .row.maxLength,
li.formItem .form_row_object .row.regex,
li.formItem .form_row_object .row .reUseableGroup{
	display: none;
}

/*Label*/
li.labelField   .form_row_object .row.listType,
li.labelField   .form_row_object .advancedSettings .showSettings.btn,
li.labelField   .form_row_object .row.rowLabel,
li.labelField   .form_row_object .row.rowName,
li.labelField   .form_row_object .row.defaultVal,
li.labelField   .form_row_object .row.errorText,
li.labelField   .form_row_object .row.placeholder,
li.labelField   .form_row_object .row.classes,
li.labelField   .form_row_object .row.required,
li.labelField   .form_row_object .row.listID,
li.labelField   .form_row_object .row.csList,
li.labelField   .form_row_object .row.minVal,
li.labelField   .form_row_object .row.maxVal,
li.labelField   .form_row_object .row.minLength,
li.labelField   .form_row_object .row.maxLength,
li.labelField   .form_row_object .row.regex,
li.labelField   .form_row_object .row .reUseableFormItem{
	display: none;
}

li.labelField .form_row_object .row.advancedSettings,
li.labelField .form_row_object .row  .genericUseText{
	display: block;
	height: auto;
}

li.labelField .form_row_object .row  .genericUseText textarea{
	min-width: 100%;
	min-height: 100px;
	overflow-y: auto;
}

li.labelField .form_row_object .row  .genericUseText label{
	margin-bottom: 10px;
	font-weight: bold;
	width: auto;
}

li.labelField .form_row_object .row  .genericUseText label:before{
	content: "Text typed here will be displayed to the end user:";
}



/*HtmlChunk*/
li.htmlChunk  .form_row_object .row.listType,
li.htmlChunk  .form_row_object .advancedSettings .showSettings.btn,
li.htmlChunk  .form_row_object .row.rowLabel,
li.htmlChunk  .form_row_object .row.rowName,
li.htmlChunk  .form_row_object .row.defaultVal,
li.htmlChunk  .form_row_object .row.errorText,
li.htmlChunk  .form_row_object .row.placeholder,
li.htmlChunk  .form_row_object .row.classes,
li.htmlChunk  .form_row_object .row.required,
li.htmlChunk  .form_row_object .row.listID,
li.htmlChunk  .form_row_object .row.csList,
li.htmlChunk  .form_row_object .row.minVal,
li.htmlChunk  .form_row_object .row.maxVal,
li.htmlChunk  .form_row_object .row.minLength,
li.htmlChunk  .form_row_object .row.maxLength,
li.htmlChunk  .form_row_object .row.regex,
li.htmlChunk  .form_row_object .row .reUseableFormItem{
	display: none;
}

li.htmlChunk .form_row_object .row.advancedSettings,
li.htmlChunk .form_row_object .row  .genericUseText{
	display: block;
	height: auto;
}

li.htmlChunk .form_row_object .row  .genericUseText textarea{
	min-width: 100%;
	min-height: 100px;
	overflow-y: auto;
}

li.htmlChunk .form_row_object .row  .genericUseText label{
	margin-bottom: 10px;
	font-weight: bold;
	width: auto;
}

li.htmlChunk .form_row_object .row  .genericUseText label:before{
	content: "HTML typed here will be rendered as-is in place in the form.";
}



















